{% extends "base.html" %}

{% block extra_js %}
{% include "organizacion/graficos.html" %}
{% endblock extra_js %}

{% block tablero %}
<div class="datos-dashboard">
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4 tablero-familia">
			<div class="ind-familia row">
				<div class=" col-lg-3 col-lg-offset-1 img-familia"><img src="/static/img/organizacion.png" alt=""></div>
				<div class=" col-lg-3"><h1>{{organizaciones}}</h1></div>
				<div class=" col-lg-4" style="margin-left: -25px"><p>Organizaciones</p></div>
			</div>
		</div>
	</div>
</div>

{% endblock tablero %}

{% block content %}
<style>
	.row {
		margin-right: 0px !important;
		margin-left: 0px !important; 
	}

	h3 {
		color: #cb6830;
		font-weight: bold;
		margin-bottom: 5px;
		margin-top: 5px;
	}
</style>

<div id="tabs">
	<!-- Nav tabs -->
	<ul class="nav nav-annos" role="navegacion">
		<li role="titulo" class="col-xs-3 col-sm-3 col-md-2 col-lg-1">
			<a >Años:</a>
		</li>

		{% for year in anno.keys %}
		<li role="annos" class="{% if forloop.counter == 1 %}active{% endif %} col-xs-3 col-sm-3 col-md-2 col-lg-1" id="{{forloop.counter}}"><a href="#{{year}}" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for year,value in anno.items %}
		<div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">

			<div class="container-fluid contenido-graficos">

				<div class="row">
					<div class="col-md-12 col-lg-9">
						<div id="status{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
					</div>
					<div class="col-md-12 col-lg-3">
						<table class="table table-bordered table-striped table-hover">
							<caption>Organizaciones</caption>
							<thead>
								<tr>
									<th>Estatus</th>
								</tr>
							</thead>
							<tbody>
								{% for k,v in value.1.items  %}
								<tr>
									<td><a href="" data-toggle="modal" data-target="#modal{{forloop.counter}}{{year}}">{{k}}</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- modal -->
					{% for k,v in value.1.items %}
					<div class="modal fade" id="modal{{forloop.counter}}{{year}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="myModalLabel">{{k}}</h4>
								</div>
								<div class="modal-body">
									{% for org in v %}
									<li><a href="{% url 'detail-org' org.organizacion.id %}">{{org}}</a></li>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- end modal -->
				</div>

				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div id="miembros{{year}}" style="min-width: 310px; width: 940px; margin: 0 auto;"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-lg-9">
						<div id="aspectos_juridicos{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
					</div>
					<div class="col-md-15 col-lg-3 table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<caption>Organizaciones</caption>
							<thead>
								<tr>
									<th>Situación legal</th>
								</tr>
							</thead>
							<tbody>
								{% for k in value.5.keys %}
								<tr>
									<td><a href="" data-toggle="modal" data-target="#situacion_modal{{forloop.counter}}{{year}}">{{k}}</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- modal -->
					{% for k,v in value.7.items %}

					<div class="modal fade" id="doc_modal{{forloop.counter}}{{year}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4>Año {{year}}</h4>
									<h4>Organizaciones que dijeron que '{{k}}':</h4>
								</div>
								<div class="modal-body">
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr>
												{% for x,y in v.items %}
												<th>{{x}}</th>
												{% endfor %}

											</tr>
										</thead>
										<tbody>

											<tr>
												{% for x in v.values %}
												<td>
													{% for org in x  %}
													<li><a href="{% url 'detail-org' org.organizacion.id %}">{{org}}</a></li>
													{% endfor %}</td>
													{% endfor %}
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- end modal -->
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-9">
							<div id="documentacion{{year}}" style="min-width: 310px; width: 940px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-3">
							<table class="table table-bordered table-striped table-hover">
								<caption>Organizaciones</caption>
								<thead>
									<tr>
										<th>Poseen documentación legal</th>
									</tr>
								</thead>
								<tbody>
									{% for k in value.7.keys %}
									<tr>
										<td><a href="" data-toggle="modal" data-target="#doc_modal{{forloop.counter}}{{year}}">{{k}}</a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<!-- modal -->
						{% for k,v in value.5.items %}

						<div class="modal fade" id="situacion_modal{{forloop.counter}}{{year}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h4>Año {{year}}</h4>
										<h4>Organizaciones que dijeron que '{{k}}' tienen:</h4>
									</div>
									<div class="modal-body">
										<table class="table table-bordered table-striped table-hover">
											<thead>
												<tr>
													<th>Personería jurídica</th>
													<th>Actualización person. jurídica</th>
													<th>Solvencia tributaria</th>
													<th>Junta directiva certificada</th>
													<th>Lista socias y socias actualizada</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													{% for x in v %}
													<td>
														{% for org in x  %}
														<li><a href="{% url 'detail-org' org.organizacion.id %}">{{org}}</a></li>
														{% endfor %}
													</td>
													{% endfor %}
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- end modal -->
					</div>

					<div class="row fila3">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="socios{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="presocios{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Áreas establecidas por socias y socios en cacao. Valor promedio: {{value.14|floatformat:"2"}} mz</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.12.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.13}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="rangos{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="rangos_organico{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Áreas establecidas de cacao orgánico. Valor promedio: {{value.17|floatformat:"2"}} mz</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.15.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.16}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Áreas establecidas de cacao convencional. Valor promedio: {{value.20|floatformat:"2"}} mz</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.18.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.19}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="rangos_convencional{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="rendimiento{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Rendimiento promedio de cacao en baba y seco. Valor promedio Baba: {{value.36|floatformat:"2"}} qq/mz, Seco: {{value.39|floatformat:"2"}} qq/mz</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias baba</th>
										<th>% baba</th>
										<th>Frecuencias seco</th>
										<th>% seco</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.37.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.38}}</td>
										<td></td>
										<td>{{value.40}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-12 grafico1">
							<div id="infraestructura{{year}}" style="min-width: 310px; width: 100%; height:500px; margin: 0 auto;"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-12 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Capacidad de instalaciones</caption>
								<thead>
									<tr>
										<th>Tipo de infraestructura</th>
										<th>Cantidad</th>
										<th>Capacidad promedio(qq)</th>
									</tr>
								</thead>
								<tbody>
									{% for k in value.21 %}
									<tr>
										<td>{{k.0}}</td>
										<td>{{k.1}}</td>
										{% if k.2 == '---' %}
										<td>{{k.2}}</td>
										{% else %}
										<td>{{k.2|floatformat:"2"}}</td>
										{% endif %}
										
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Cacao en baba acopiado en el último año. Valor promedio: {{value.23|floatformat:"2"}} qq</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.24.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.25}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="area_baba{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="area_seco{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Cacao en seco comercializado el último año. Valor promedio: {{value.26|floatformat:"2"}} qq</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.27.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.28}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Socios que entregan cacao al acopio el último año. Valor promedio de socios: {{value.29}}</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.30.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.31}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="socios_cacao{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="pre_socios_cacao{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<table class="table table-bordered table-striped table-hover">
								<caption>Productores no asociados que entregan cacao al acopio el último año. Valor promedio: {{value.41}} productores</caption>
								<thead>
									<tr>
										<th>Rangos</th>
										<th>Frecuencias</th>
										<th>%</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in value.42.items %}
									<tr>
										<td>{{k}}</td>
										{% for valor in v %}
										<td>{{valor}}</td>
										{% endfor %}
									</tr>
									{% endfor %}
									<tr>
										<td>Total</td>
										<td>{{value.43}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="tipos_producto{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="certificacion{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="destino{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
						<div class="col-md-12 col-lg-6 grafico1">
							<div id="financiamiento{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}


		</div>
	</div>

	{% endblock content %}