<script>
	$(document).ready(function() {

		$('li.item-org').addClass('active');

	});

	{% for year,value in anno.items %}

	$(function () {

		$(document).ready(function () {

		// Build the chart
		$('#status{{year}}').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: 'Estatus legal de la organización'
			},

			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '{point.percentage:.2f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					},
					showInLegend: true
				}

			},
			series: [{
				name: "Porcentajes",
				colorByPoint: true,
				data: [
				{% for x,y in value.0.items %}
				{
					name: "{{x}}",
					y: {{y}}
				},
				{% endfor %}


				]
			}]
		});
	});
	});

	$(function () {
		$('#miembros{{year}}').highcharts({
			title: {
				text: 'Número de miembros de JD por organización'
			},
			xAxis: {
				categories: [{% for item in lista_status %} '{{item}}', {% endfor %}]
			},
			yAxis: {
				title: {
					text: 'Valores'
				}

			},
			labels: {
				items: [{
					html: 'Total de hombres y mujeres',
					style: {
						left: '50px',
						top: '0px',
						color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
					}
				}]
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						format: '{point.y}'
					}
				}
			},

			series: [
			{% for key,values in value.2.items %}
			{
				type: 'column',
				name: '{{key}}',
				data: [{% for x,y in values %}{{y}},{% endfor %}]
			},
			{% endfor %}  

			{
				type: 'pie',
				name: 'Total',
				data: [
				{% for key, values in value.3.items %}
				{
					name: '{{key}}',
					y: {{values}},
					{% if forloop.counter == 1 %}
					color: Highcharts.getOptions().colors[0]
					{% else %}
					color: Highcharts.getOptions().colors[{{forloop.counter}} - 1]
					{% endif %}

				},
				{% endfor %}
				],
				center: [100, 50],
				size: 90,
				showInLegend: false,
				tooltip: {
					pointFormat: '{point.y:.1f}%'
				},
				dataLabels: {
					enabled: false,
				}
			}
			]
		});
});

$(function () {
	$('#aspectos_juridicos{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Situación legal de las Organizaciones/Instituciones'
		},
		xAxis: {
			categories: ['Personería jurídica', 'Actualización person. jurídica', 'Solvencia tributaria', 'Junta directiva certificada', 'Lista socias y socias actualizada']
		},
		yAxis: {
			title: {
				text: 'Porcentajes'
			}

		},
		credits: {
			enabled: false
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%'
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.1f}%'
		},
		series: [
		{% for key,value in value.4.items %}
		{
			name: '{{key}}',
			data: [{% for x in value %}{{x}},{% endfor %}]
		},
		{% endfor %}

		]
	});
})

$(function () {
	$('#documentacion{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Documentación legal y estratégica'
		},
		xAxis: {
			categories: [{% for key,value in documentacion.items %}
			{% for k,v in value.items %}

			'{{k}}',

			{% endfor %}
			{% endfor %}]
		},
		credits: {
			enabled: false
		},
		yAxis: {
			title: {
				text: 'Porcentajes'
			}

		},
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					format: '{point.y}%'
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}'
		},
		series: [
		{% for key,value in value.6.items %}
		{
			name: '{{key}}',
			data: [{% for x,y in value.items %}{{y}},{% endfor %}]
		},
		{% endfor %}

		]
	});
});

function newRandomColor() {
	var color = [];
	color.push((Math.random() * 255).toFixed());
	color.push((Math.random() * 255).toFixed());
	color.push((Math.random() * 255).toFixed());
	color.push((Math.random()).toFixed(2));
	var text = 'rgba(' + color.join(',') + ')';
	console.log(text);
	return text;
}

$(function () {

	// var new_color1 = newRandomColor();
	$(document).ready(function () {

		// Build the chart
		$('#socios{{year}}').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: 'Número de socias y socios con cacao'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '{point.percentage:.2f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					},
					showInLegend: true
				}

			},
			series: [{
				name: "Procentajes",
				colorByPoint: true,
				data: [
				{
					name: "Mujeres",
					y: {{value.8}},

				}, 
				{
					name: "Hombres",
					y: {{value.9}},

				},
				]
			}]
		});
	});
});

$(function () {

	$(document).ready(function () {

		// Build the chart
		$('#presocios{{year}}').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: 'Número de pre-socias y pre-socios con cacao'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '{point.percentage:.2f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					},
					showInLegend: true
				}

			},
			series: [{
				name: "Procentajes",
				colorByPoint: true,
				data: [
				{
					name: "Mujeres",
					y: {{value.10}}
				}, 
				{
					name: "Hombres",
					y: {{value.11}}
				},
				]
			}]
		});
	});
});

$(function () {
	$('#rangos{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Procentaje de áreas establecidas por socias y socios en cacao'
		},

		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return Math.abs(this.value) + '%';
				}
			}
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> %<br/>'
		},

		series: [{
			name: "Porcentajes",
			colorByPoint: true,
			data: [
			{% for k,v in value.12.items %}
			{
				name: "{{k}}",
				y: {{v.1}},
			},
			{% endfor %}

			]
		}],
	});
});

$(function () {
	$('#rangos_organico{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Procentaje de áreas establecidas de cacao orgánico'
		},

		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return Math.abs(this.value) + '%';
				}
			}
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> %<br/>'
		},

		series: [{
			name: "Porcentajes",
			colorByPoint: true,
			data: [
			{% for k,v in value.15.items %}
			{
				name: "{{k}}",
				y: {{v.1}},
			},
			{% endfor %}

			]
		}],
	});
});

$(function () {
	$('#rangos_convencional{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Procentaje de áreas establecidas de cacao convencional'
		},

		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return Math.abs(this.value) + '%';
				}
			}
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> %<br/>'
		},

		series: [{
			name: "Porcentajes",
			colorByPoint: true,
			data: [
			{% for k,v in value.18.items %}
			{
				name: "{{k}}",
				y: {{v.1}},
			},
			{% endfor %}

			]
		}],
	});
});

$(function () {
    $('#infraestructura{{year}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Infraestructura y maquinaria'
        },
        xAxis: {
            categories: [{% for k,v in value.22.items %}'{{k}}',{% endfor %}]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Condiciones de todos los tipos de infraestructura'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '%' + '<br/>'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
			series: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},
        series: [
        {
            name: 'Malo',
            data: [
            {% for k,v in value.22.items %}
            	{% for x,y in v.items %}
            		{% if x == 'Malo' %}
            			{{y}},
            		{% endif %}
            	{% endfor %}
            {% endfor %}
            ]
        },
        {
            name: 'Regular',
            data: [
            {% for k,v in value.22.items %}
            	{% for x,y in v.items %}
            		{% if x == 'Regular' %}
            			{{y}},
            		{% endif %}
            	{% endfor %}
            {% endfor %}
            ]
        },
        {
            name: 'Bueno',
            data: [
            {% for k,v in value.22.items %}
            	{% for x,y in v.items %}
            		{% if x == 'Bueno' %}
            			{{y}},
            		{% endif %}
            	{% endfor %}
            {% endfor %}
            ]
        }, ]
    });
});

$(function () {
	$('#area_baba{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Procentaje de cacao en baba acopiado en el último año'
		},

		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return Math.abs(this.value) + '%';
				}
			}
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> %<br/>'
		},

		series: [{
			name: "Porcentajes",
			colorByPoint: true,
			data: [
			{% for k,v in value.24.items %}
			{
				name: "{{k}}",
				y: {{v.1}},
			},
			{% endfor %}

			]
		}],
	});
});

$(function () {
	$('#area_seco{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Procentaje de cacao en seco comercializado el último año'
		},

		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return Math.abs(this.value) + '%';
				}
			}
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> %<br/>'
		},

		series: [{
			name: "Porcentajes",
			colorByPoint: true,
			data: [
			{% for k,v in value.27.items %}
			{
				name: "{{k}}",
				y: {{v.1}},
			},
			{% endfor %}

			]
		}],
	});
});

$(function () {

		$(document).ready(function () {

		// Build the chart
		$('#tipos_producto{{year}}').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: 'Tipo de producto comercializado'
			},

			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '{point.percentage:.2f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					},
					showInLegend: true
				}

			},
			series: [{
				name: "Porcentajes",
				colorByPoint: true,
				data: [
				{% for x,y in value.32.items %}
				{
					name: "{{x}}",
					y: {{y}}
				},
				{% endfor %}


				]
			}]
		});
	});
	});

	$(function () {
    $('#certificacion{{year}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Certificación utilizada para comercializar cacao'
        },

        credits: {
            enabled: false
        },
        yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        xAxis: {
            categories: [
            'Certificaciones',
            
            ],
            crosshair: true
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
                {% for k,v in value.33.items %}
                {
                    name: '{{k}}',
                    data: [{{v}}],
                   
                },
                {% endfor %}
                ]
    });
});

$(function () {
	$('#socios_cacao{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Procentaje de socios que entregan cacao al acopio el último año'
		},

		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return Math.abs(this.value) + '%';
				}
			}
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
					style: {
						textShadow: '0 0 3px black'
					}
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> %<br/>'
		},

		series: [{
			name: "Porcentajes",
			colorByPoint: true,
			data: [
			{% for k,v in value.30.items %}
			{
				name: "{{k}}",
				y: {{v.1}},
			},
			{% endfor %}

			]
		}],
	});
});

{% endfor %}
</script>