<div class="indocadores-monitore">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 indicadores-btn" >
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 indicadores-titulo" id="mas-org">
              <h4 class=" titulo-indicadores" >Ver más indicadores 
                <span id="estado-org"><span class="fa fa-arrow-down"></span></span>   
              </h4> 
              
            </div>  
        </div>
    </div>
</div>
<div class="botonera-org">
    <div class="row">
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/org-dashboard/">Tablero</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/status/">Status legal y aspectos jurídicos</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/documentacion/">Documentación</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/datos-productivos/">Datos productivos</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/infraestructura/">Infraestructura y maquinaria</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="">Comercialización</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="">Financiamiento</a>
    </div>
</div>
