<div class="indocadores-monitore">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 indicadores-btn" >
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 indicadores-titulo" id="mas-org">
              <h4 class=" titulo-indicadores" >Ver más indicadores 
                <span id="estado-org"><span class="fa fa-arrow-down"></span></span>   
              </h4> 
              
            </div>  
        </div>
    </div>
</div>
<div class="botonera-org">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/status/">Estatus legal y aspectos jurídicos</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/documentacion/">Documentación</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/datos-productivos/">Datos productivos</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/infraestructura/">Infraestructura y maquinaria</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/comercio-organizaciones">Comercialización</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/financiamiento/">Financiamiento</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-grow hvr-rectangle-out" href="/lista-organizaciones/">Lista de Organizaciones</a>
        </div>

    </div>
</div>
