{% extends "base.html" %}

{% block extra_js %}
<script>
	$(document).ready(function() {

		$('li.item-org').addClass('active');

	});
</script>
{% endblock extra_js %}

{% block tablero %}
<div class="datos-dashboard">
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4 tablero-familia">
			<div class="ind-familia row">
				<div class=" col-lg-3 col-lg-offset-1 img-familia"><img src="/static/img/organizacion.png" alt=""></div>
				<div class=" col-lg-3"><h1>{{organizaciones}}</h1></div>
				<div class=" col-lg-4" style="margin-left: -25px"><p>Organizaciones</p></div>
			</div>
		</div>
	</div>
</div>
{% endblock tablero %}

{% block content %}
<style>
	.row {
		margin-right: 0px !important;
		margin-left: 0px !important; 
	}

	h3 {
		color: #cb6830;
		font-weight: bold;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	th {
 		 text-align: center;
}
</style>
{% include "organizacion/indicadoresorg.html" %}

<div id="tabs">
	<!-- Nav tabs -->
	<ul class="nav nav-annos" role="navegacion">
		<li role="titulo" class="col-xs-3 col-sm-3 col-md-2 col-lg-1">
			<a >Años:</a>
		</li>

		{% for year in anno.keys %}
		<li role="annos" class="{% if forloop.counter == 1 %}active{% endif %} col-xs-3 col-sm-3 col-md-2 col-lg-1" id="{{forloop.counter}}"><a href="#{{year}}" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a></li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for year,value in anno.items %}
		<div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
			<div class="container-fluid contenido-graficos">
			<div class="row">
	            <ol class="breadcrumb bread-indicador">
	                <li><a href="#">Infraestructura y maquinaria</a></li>
	            </ol>  
	        </div>
				<div class="row fila11">
					<div class="col-md-12 col-lg-12">
						<a class="btn-export" href="#" onclick="exportarXLS('modalidad'); return false;">Exportar tabla <span class="fa fa-file-excel-o"></span></a>
						<div id="modalidad">
							<table class="table table-bordered table-striped table-hover">
								<caption>Instalaciones</caption>
								<thead>
									<tr>	
										<th>Tipo de infraestructura</th>
										<th>Tienen</th>
										<th>No tienen</th>
										<th colspan="3">Estado (%)</th>
										<th>Capacidad total (qq)</th>
										<th>Capacidad promedio (qq)</th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th>Bueno</th>
										<th>Malo</th>
										<th>Regular</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for x in value %}
									<tr>
										<td>{{x.0}}</td>
										<td>{{x.1}}</td>
										<td>{{x.2}}</td>
										{% for v in x.3 %}
											<td>{{v}}</td>
										{% endfor %}
										<td>{{x.4|floatformat:"2"}}</td>
										<td>{{x.5|floatformat:"2"}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}