{% extends "base.html" %}

{% block extra_js %}
<script>
	$(document).ready(function() {

		$('li.item-org').addClass('active');

	});
</script>
{% endblock extra_js %}

{% block tablero %}
<div class="datos-dashboard">
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4 tablero-familia">
			<div class="ind-familia row">
				<div class=" col-lg-3 col-lg-offset-1 img-familia"><img src="/static/img/organizacion.png" alt=""></div>
				<div class=" col-lg-3"><h1>{{organizaciones}}</h1></div>
				<div class=" col-lg-4" style="margin-left: -25px"><p>Organizaciones</p></div>
			</div>
		</div>
	</div>
</div>
{% endblock tablero %}

{% block content %}
<style>
	.row {
		margin-right: 0px !important;
		margin-left: 0px !important; 
	}

	h3 {
		color: #cb6830;
		font-weight: bold;
		margin-bottom: 5px;
		margin-top: 5px;
	}
</style>
{% include "organizacion/indicadoresorg.html" %}

<table class="table table-bordered table-striped table-hover">
	<caption>Organizaciones</caption>
	<thead>
		<tr>
			<th>Siglas</th>
			<th>Municipio</th>
			<th>Status Legal</th>
		</tr>
	</thead>
	<tbody>
		{% for encuesta in org %}
		<tr>
			<td><a href="{% url 'detail-org' encuesta.organizacion.id %}">{{encuesta.organizacion}}</a></td>
			<td>{{encuesta.organizacion.municipio}}</td>
			<td>{{encuesta.organizacion.status}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}