{% extends "admin/base.html" %}


{% load i18n %}

{% block title %}{{ title }} | {% trans 'Administración Canicacao' %}{% endblock %}

{% block branding %}
<h1 id="site-name">Administración Canicacao</h1>
	<style>
		div.breadcrumbs {
			background: #B3A580;
			color: #685642;
		}

		#header{
			background: #685642;
		}

		.module h2, .module caption, .inline-group h2 {
			background: #B3A580;
		}

		.module caption, .inline-group h2 {
		  text-transform: none;
		}

		thead th {
		  text-transform: none;
		}

		.button, input[type=submit], input[type=button], .submit-row input, a.button {
  			background: #B3A580;
		}
		input[type=submit].default, .submit-row input.default {
		  background: #685642;
		}

		input[type=submit]:hover, input[type=button]:hover {
		  background: #685642;
		}

		input[type=submit].default:hover, .submit-row input.default:hover {
		  background: #685642;
		}

		#id_persona, #id_recolector {
			width: 20em !important
		}
	</style>

{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
<script src="/static/js/jquery-2.1.4.min.js"></script>
<link href="/static/css/select2.min.css" rel="stylesheet" />
<script src="/static/js/select2.min.js"></script>
{% endblock %}