#uso_tierra_set-0 h3{
	display: none
}

#uso_tierra_set-0 .module{
	margin-top: 3em
}

ul li {
	list-style: none;
}

.original p {
	display: none;
}

div.breadcrumbs {
  background: #685642 !important;
}

#bottombar > button, #bottombar > a {
	background: #B3A580 !important;
}

