body {
  margin: 0;
  font-size: 16px;
  background: url("../img/light_grey.png");
  font-family: 'Roboto', sans-serif;
}
/*Mixins*/
/***********Inicio de header***************/
.encabezado {
  background: #cb6830;
}
.encabezado .row {
  margin-right: 0px !important;
}
.encabezado h4 {
  color: #fff;
  margin-left: 50px;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-sesion {
  margin-top: 14px;
  margin-bottom: 20px;
}
a.sesion {
  padding-right: 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
/*Inicio de menu*/
.navbar-brand {
  margin-left: 50px;
  padding: 12px 15px;
}
.navbar-brand>img {
  width: 120%;
}
.navbar-default {
  background-color: #453021;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
}
.nav>li {
  text-align: center;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 20px 30px;
  margin-right: 40px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #6d4b35;
  border-bottom: 3px solid #fff;
}
/***********Inicio de contenido***************/
.informacion {
  -webkit-box-shadow: -5px 5px 10px 0px #b2b2b2;
  -moz-box-shadow: -5px 5px 10px 0px #b2b2b2;
  -o-border-radius: -5px 5px 10px 0px #b2b2b2;
  box-shadow: -5px 5px 10px 0px #b2b2b2;
}
.informacion h4 {
  margin: 15px 15px;
}
.franja {
  background-color: #ffd62c;
  height: 20px;
}
.parrafo {
  background-color: #fff;
  padding-bottom: 20px;
}
.parrafo p {
  margin: 15px 15px;
  font-size: 1em;
}
.triangulo {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ffd62c;
  left: 47px;
  position: relative;
  top: -5px;
}
.btn-informacion a {
  text-decoration: none;
  color: #453021;
}
.btn-informacion {
  margin-right: 15px;
}
.logos img{
  width: 100%;
}
.heiferimg img{
  width: 50%;
}
/************Indicadores y mapeo***************/
.consulta {
  padding-left: 30px;
}
.ind-mujer {
  background-color: #de4a4a;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
}
.ind-mujer p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-hombre {
  background-color: #305eef;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
}
.ind-hombre p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-cacao {
  background-color: #04a586;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
}
.ind-cacao p {
  font-size: 1.5em;
  margin: 0px 0px 6px !important;
}
.text-cacao {
  font-size: 1em !important;
}
/*segunda fila de indicadores*/
.ind-produccion {
  background-color: #453021;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}
.ind-produccion p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-produccion img {
  height: 125%;
}
.ind-otro {
  background-color: #719025;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}
.ind-otro p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-consulta {
  background-color: #ffa245;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}
.ind-consulta p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.mapeo {
  margin-top: 15px;
}
.mapa-ni {
  padding-left: 0px !important;
}
.logos {
  margin-top: 50px;
}
.catie {
  margin-left: 10px;
}
.heifer {
  margin-left: 25px;
}
.footer {
  height: 70px;
  width: 100%;
  background-color: #453021;
  color: #fff;
  margin-top: 30px;
}
.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.Copyright {
  padding-top: 30px;
  padding-left: 20px;
}
/**************Consulta*******************/
.formulario-consulta {
  margin: 15px auto 15px auto;
  color: #fff;
}
.seleccion {
  background-color: #453021;
}
.seleccion p {
  margin: 15px 10px 15px 30px;
}
.seleccion .row {
  margin-right: 0px;
}
.borde-filtro {
  border-right: 2px solid #fff;
}
.datos-filtro p {
  font-size: 0.8em;
  text-align: left;
  margin: 5px 5px 5px 5px;
}
.datos-filtro h5 {
  text-align: center;
  background-color: #6d4b35;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ind-filtro {
  padding-left: 5px;
  padding-right: 5px;
}
.filtros {
  background-color: #6d4b35;
  border-top: 2px solid #fff;
}
.filtros .row {
  padding-top: 50px;
  padding-bottom: 50px;
}
.select-filtro {
  padding-left: 40px;
}
.btn-filtro {
  margin-top: 50px;
  padding: 15px;
  width: 80%;
  color: #fff;
  background-color: #cb6830;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 1em;
}
.btn-filtrohover {
  background-color: #cb6830;
  font-weight: bold;
  color: #fff;
}
span.select2.select2-container.select2-container--default {
  width: 80% !important;
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}
/******************dashboard*********************/
.contenido-graficos {
  margin: 0 auto;
}
.datos-dashboard {
  background-color: #413a35;
  margin-top: -20px;
  padding: 20px 30px 20px 30px;
}
.tablero-familia,
.tablero-genero {
  padding-right: 50px;
}
.ind-familia,
.tablero-hombre,
.tablero-mujer,
.ind-org {
  background-color: #453021;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.ind-familia h1,
.tablero-hombre h1,
.tablero-mujer h1,
.ind-org h1 {
  margin-top: 8px;
  margin-bottom: 10px;
  color: #cb6830;
}
.ind-familia h2,
.tablero-hombre h2,
.tablero-mujer h2,
.ind-org h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #cb6830;
}
.ind-familia p,
.tablero-hombre p,
.tablero-mujer p,
.ind-org p {
  margin: 15px 0px 0px 30px;
}
.tablero-hombre {
  border-right: 2px solid #6d4b35;
}
.ind-org p {
  margin: 15px 0px 0px 0px !important;
}
/* inicio de contenido tablero*/
.tablero-titulo,
.indicadores-titulo {
  background: #6d4b35;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 40px;
}
.titulo-inicio,
.titulo-indicadores {
  margin-left: 50px;
}
.titulo-inicio span,
.titulo-indicadores span {
  margin-left: 20px;
}
.titulo-inicio:before,
.titulo-indicadores:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 39px;
  width: 20px;
  background-color: #453021;
}
.promedio-cacao,
.promedio-cultivo,
.socio,
.no-socio {
  background-color: #fff;
  border: 3px solid #e7e6e4;
  padding: 20px 20px 20px 60px;
}
.promedio-cacao h1,
.promedio-cultivo h1,
.socio h1,
.no-socio h1,
.promedio-cacao h2,
.promedio-cultivo h2,
.socio h2,
.no-socio h2 {
  color: #cb6830;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.promedio-cultivo,
.no-socio {
  margin-top: 33px;
}
.no-socio,
.socio {
  padding-top: 24px;
  padding-bottom: 24px;
}
.texto-indicador {
  margin-top: 20px;
}
.grafico3,
.grafico4,
.grafico5,
.grafico1 {
  background-color: #fff;
  border: 3px solid #e7e6e4;
}
.grafico5 {
  margin-top: 20px;
/*mayor a 760*/
}
.indicadores-t1 {
  padding-right: 0px;
}
.indicadores-t2 {
  padding-left: 0px;
}
.grafico-4 {
  width: 49%;
  margin-left: 1%;
}
.grafico-3,
.grafico1 {
  width: 49%;
  margin-right: 1%;
}
.fila1,
.fila2,
.fila3,
.fila4,
.fila5 {
  margin-top: 20px;
}
.botonera {
  background-color: #e7e6e4;
  display: none;
}
.botonera .row {
  padding: 10px;
}
.botonera a {
  background-color: #9ac15a;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
  width: 23%;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
  font-size: 1em;
}
.botonera a:hover {
  font-weight: bold;
  color: #fff;
  background-color: #cb6830;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
}
.botonera a:nth-child(4n+3),
.botonera a:nth-child(4n+4) {
  background-color: #7cb4eb;
  -webkit-box-shadow: 5px 5px 0px -2px #6ba7de;
  -moz-box-shadow: 5px 5px 0px -2px #6ba7de;
  -o-border-radius: 5px 5px 0px -2px #6ba7de;
  box-shadow: 5px 5px 0px -2px #6ba7de;
}
.botonera a:nth-child(4n+3):hover,
.botonera a:nth-child(4n+4):hover {
  background-color: #cb6830;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
}
/* organizaciones*/
.org-detail {
  margin: 0 auto;
}
.mapa-titulo,
.consulta-org-titulo {
  background-color: #fff;
  border: 3px solid #e7e6e4;
  text-align: center;
}
.mapa-organizaciones,
.filtro-org-consulta {
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-left: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
}
.btn-org-consulta a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #cb6830;
  text-decoration: none;
}
.filtro-org-consulta {
  padding-top: 20px;
}
.filtro-org-consulta .form-group {
  margin-left: 20px;
  margin-top: 36px;
}
.filtro-org-consulta .btn-org-consulta {
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 10px;
}
/**organizacion detail***/
.logo-org {
  margin-top: 60px;
  margin-bottom: 40px;
}
.mapa-org {
  background-color: #fff;
  border: 3px solid #e7e6e4;
}
.informacion-org {
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-top: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
  height: 244px;
}
.informacion-org span {
  margin-bottom: 5px;
  margin-top: 5px;
}
.informacion-org span a {
  color: #333;
  text-decoration: none;
}
.informacion-org .fa:before {
  color: #717171;
  margin-right: 10px;
}
.tabs-org {
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-left: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
}
li[role=presentation] {
  width: 100%;
}
li[role=presentation] a {
  color: #333;
}
.nav-tabs>li {
  border-bottom: 3px solid #e7e6e4;
  background-color: #fff;
  width: 100%;
  margin-left: 0px;
}
.nav-tabs>li.active {
  border-left: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
  border-right: 0px;
  background-color: #fff;
  position: static;
  width: 102%;
  margin-left: -3px;
}
.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav-tabs>li.active a:focus {
  background-color: transparent !important;
  color: #cb6830 !important;
  border: 0px;
}
div[role=tabpanel] {
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
  width: 100%;
  padding: 30px 20px;
}
.conten-org {
  padding-right: 0;
  padding-left: 0;
}
.table>tbody>tr {
  border-top: 2px solid #e7e6e4;
}
.table>tbody>tr:last-child {
  border-bottom: 2px solid #e7e6e4;
}
.table>tbody>tr td {
  border-right: 2px solid #e7e6e4;
  border-left: 2px solid #e7e6e4;
}
.datos-sueltos {
  margin-bottom: 30px;
}
.dato-orgdetail {
  background-color: #efefef;
  border: 3px solid #e7e6e4;
  padding: 10px;
  text-align: center;
}
#documentacion,
#infra,
#comercializacion,
#prodructividad {
  height: 500px;
}
@media (min-width: 1200px) {
  .formulario-consulta,
  .contenido-graficos {
    width: 90%;
  }
  .org-detail {
    width: 95%;
  }
}
/*.ui-widget 
  font-family 'Roboto',Tahoma,Verdana,Arial,sans-serif !important
  font-size 1em !important
*/

/* nuevo codigo */
.titulo-inicio a {
  color: white;
  text-decoration: none
}

.seleccion {
  color: white;
  margin-top: 10px
}

.h2, h2 {
  font-size: 26px;
}

.h1, h1 {
  font-size: 32px;
}

.titulo-inicio:before, .titulo-indicadores:before {
  height: 100% !important;
}

.tablero-titulo, .indicadores-titulo {
  margin-top: 50px !important; 
}