body {
  margin: 0;
  font-size: 16px;
  background: url("../img/light_grey.png");
  font-family: 'Roboto', sans-serif;
}
/*Mixins*/
/***********Inicio de header***************/
.encabezado {
  background: #cb6830;
}
.encabezado .row {
  margin-right: 0px !important;
}
.encabezado h4 {
  color: #fff;
  margin-left: 50px;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-sesion {
  margin-top: 14px;
  margin-bottom: 20px;
}
a.sesion {
  padding-right: 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
/*Inicio de menu*/
.navbar-brand {
  margin-left: 50px;
  padding: 12px 15px;
}
.navbar-brand>img {
  width: 120%;
}
.navbar-default {
  background-color: #453021;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
}
.nav>li {
  text-align: center;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 20px 30px;
  margin-right: 40px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #6d4b35;
  border-bottom: 3px solid #fff;
}
/***********Inicio de contenido***************/
.informacion {
  -webkit-box-shadow: -5px 5px 10px 0px #b2b2b2;
  -moz-box-shadow: -5px 5px 10px 0px #b2b2b2;
  -o-border-radius: -5px 5px 10px 0px #b2b2b2;
  box-shadow: -5px 5px 10px 0px #b2b2b2;
}
.informacion h4 {
  margin: 15px 15px;
}
.franja {
  background-color: #ffd62c;
  height: 20px;
}
.parrafo {
  background-color: #fff;
  padding-bottom: 20px;
}
.parrafo p {
  margin: 15px 15px;
  font-size: 1em;
}
.triangulo {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ffd62c;
  left: 47px;
  position: relative;
  top: -5px;
}
.btn-informacion a {
  text-decoration: none;
  color: #453021;
}
.btn-informacion {
  margin-right: 15px;
}
/************Indicadores y mapeo***************/
.consulta {
  padding-left: 30px;
}
.ind-mujer {
  background-color: #de4a4a;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
}
.ind-mujer p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-hombre {
  background-color: #305eef;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
}
.ind-hombre p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-cacao {
  background-color: #04a586;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  margin-top: 0px;
}
.ind-cacao p {
  font-size: 1.5em;
  margin: 0px 0px 6px !important;
}
.text-cacao {
  font-size: 1em !important;
}
/*segunda fila de indicadores*/
.ind-produccion {
  background-color: #453021;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}
.ind-produccion p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.ind-produccion img {
  height: 125%;
}
.ind-otro {
  background-color: #719025;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}
.ind-otro p {
  font-size: 1.3em;
  margin: 0px 0px 0px !important;
}
.ind-consulta {
  background-color: #ffa245;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}
.ind-consulta p {
  font-size: 1.5em;
  margin: 0px 0px 0px !important;
}
.mapeo {
  margin-top: 15px;
}
.mapa-ni {
  padding-left: 0px !important;
}
.logos {
  margin-top: 50px;
}
.catie {
  margin-left: 10px;
}
.heifer {
  margin-left: 25px;
}
.footer {
  height: 70px;
  width: 100%;
  background-color: #453021;
  color: #fff;
  margin-top: 30px;
}
.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.Copyright {
  padding-top: 30px;
  padding-left: 20px;
}
/**************Consulta*******************/
.formulario-consulta {
  margin: 15px auto 15px auto;
  color: #fff;
}
.seleccion {
  background-color: #453021;
}
.seleccion p {
  margin: 15px 10px 15px 30px;
}
.seleccion .row {
  margin-right: 0px;
}
.datos-filtro p {
  font-size: 0.8em;
  text-align: left;
  margin: 5px 5px 5px 5px;
}
.datos-filtro h5 {
  text-align: center;
  background-color: #6d4b35;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ind-filtro {
  padding-left: 5px;
  padding-right: 5px;
}
.filtros {
  background-color: #6d4b35;
  border-top: 2px solid #fff;
}
.filtros .row {
  padding-top: 50px;
  padding-bottom: 50px;
}
.select-filtro {
  padding-left: 40px;
}
.btn-filtro {
  margin-top: 50px;
  padding: 15px;
  width: 80%;
  color: #fff;
  background-color: #cb6830;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 1em;
}
.btn-filtrohover {
  background-color: #cb6830;
  font-weight: bold;
  color: #fff;
}
span.select2.select2-container.select2-container--default {
  width: 80% !important;
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}
/******************dashboard*********************/
.contenido-graficos {
  padding-top: 20px;
}
.datos-dashboard {
  background-color: #413a35;
  margin-top: -20px;
  padding: 20px 30px 20px 30px;
}
.tablero-familia,
.tablero-genero {
  padding-right: 50px;
}
.ind-familia,
.tablero-hombre,
.tablero-mujer,
.ind-org {
  background-color: #453021;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.ind-familia h1,
.tablero-hombre h1,
.tablero-mujer h1,
.ind-org h1 {
  margin-top: 8px;
  margin-bottom: 10px;
  color: #cb6830;
}
.ind-familia h2,
.tablero-hombre h2,
.tablero-mujer h2,
.ind-org h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #cb6830;
}
.ind-familia p,
.tablero-hombre p,
.tablero-mujer p,
.ind-org p {
  padding-top: 15px;
}
.tablero-hombre {
  border-right: 2px solid #6d4b35;
}
/* inicio de contenido tablero*/
.tablero-titulo,
.indicadores-titulo {
  background: #6d4b35;
  color: #fff;
  margin-bottom: 20px;
  border-left: 20px solid #453021;
}
.titulo-inicio,
.titulo-indicadores {
  margin-left: 50px;
}
.promedio-cacao,
.promedio-cultivo {
  background-color: #fff;
  border: 3px solid #e7e6e4;
  padding: 20px 20px 20px 60px;
}
.promedio-cacao h1,
.promedio-cultivo h1,
.promedio-cacao h2,
.promedio-cultivo h2 {
  color: #cb6830;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.promedio-cultivo {
  margin-top: 52px;
}
.texto-indicador {
  margin-top: 20px;
}
.grafico-left,
.grafico-right {
  background-color: #fff;
  border: 3px solid #e7e6e4;
  margin-top: 0px;
/*mayor a 760*/
}
.indicadores-t1 {
  padding-right: 0px;
}
.indicadores-t2 {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}
.fila2,
.fila3,
.fila4,
.fila5 {
  margin-top: 20px;
}
.botonera {
  background-color: #e7e6e4;
  display: none;
}
.botonera .row {
  padding: 10px;
}
.botonera a {
  background-color: #9ac15a;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
  font-size: 1em;
}
.botonera a:hover {
  font-weight: bold;
  color: #fff;
  background-color: #cb6830;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
}
.botonera a:nth-child(4n+3),
.botonera a:nth-child(4n+4) {
  background-color: #7cb4eb;
  -webkit-box-shadow: 5px 5px 0px -2px #6ba7de;
  -moz-box-shadow: 5px 5px 0px -2px #6ba7de;
  -o-border-radius: 5px 5px 0px -2px #6ba7de;
  box-shadow: 5px 5px 0px -2px #6ba7de;
}
.botonera a:nth-child(4n+3):hover,
.botonera a:nth-child(4n+4):hover {
  background-color: #cb6830;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
}
/* organizaciones*/
.org-detail {
  margin: 0 auto;
}
.consulta-org-titulo {
  background-color: #fff;
  border-top: 3px solid #e7e6e4;
  border-left: 3px solid #e7e6e4;
  border-right: 3px solid #e7e6e4;
  text-align: center;
}
.consulta-org-titulo h4 {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.mapa-titulo {
  border-bottom: 3px solid #e7e6e4;
  text-align: center;
}
.mapa-organizaciones,
.consulta-org {
  background-color: #fff;
  border: 3px solid #e7e6e4;
  margin-bottom: 0px;
}
.consulta-org form {
  padding: 10px;
}
.btn-org-consulta a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #cb6830;
  text-decoration: none;
}
.filtro-org-consulta {
  padding-top: 20px;
}
.filtro-org-consulta .form-group {
  margin-left: 20px;
  margin-top: 36px;
}
.filtro-org-consulta .btn-org-consulta {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 10px;
}
/**organizacion detail***/
.logo-org {
  margin-top: 60px;
  margin-bottom: 40px;
}
.mapa-org {
  background-color: #fff;
  border: 3px solid #e7e6e4;
}
.informacion-org {
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-top: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
  height: 244px;
}
.informacion-org span {
  margin-bottom: 5px;
  margin-top: 5px;
}
.informacion-org span a {
  color: #333;
  text-decoration: none;
}
.informacion-org .fa:before {
  color: #717171;
  margin-right: 10px;
}
.tabs-org {
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-left: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
}
li[role=presentation] {
  width: 100%;
}
li[role=presentation] a {
  color: #333;
}
.nav-tabs>li {
  border-bottom: 3px solid #e7e6e4;
  background-color: #fff;
  width: 100%;
  margin-left: 0px;
}
.nav-tabs>li.active {
  border-left: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
  border-right: 0px;
  background-color: #fff;
  position: static;
  width: 102%;
  margin-left: -3px;
}
.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav-tabs>li.active a:focus {
  background-color: transparent !important;
  color: #cb6830 !important;
  border: 0px;
}
div[role=tabs-organi] {
  background-color: #fff;
  border-right: 3px solid #e7e6e4;
  border-bottom: 3px solid #e7e6e4;
  width: 100%;
  padding: 30px 20px;
}
div[role=tabpanel] {
  background-color: #fff;
}
.conten-org {
  padding-right: 0;
  padding-left: 0;
}
.table>tbody>tr {
  border-top: 2px solid #e7e6e4;
}
.table>tbody>tr:last-child {
  border-bottom: 2px solid #e7e6e4;
}
.table>tbody>tr td {
  border-right: 2px solid #e7e6e4;
  border-left: 2px solid #e7e6e4;
}
.datos-sueltos {
  margin-bottom: 30px;
}
.dato-orgdetail {
  background-color: #efefef;
  border: 3px solid #e7e6e4;
  padding: 10px;
  text-align: center;
}
#documentacion,
#infraestructura,
#datos_productivos,
#comercializacion,
#prodructividad {
  height: 500px;
}
@media (min-width: 1200px) {
  .formulario-consulta,
  width 90%,
  .org-detail {
    width: 95%;
  }
}
/*.ui-widget 
  font-family 'Roboto',Tahoma,Verdana,Arial,sans-serif !important
  font-size 1em !important
*/
/************************nuevo css**************************/
.seleccion {
  color: #fff;
}
.datos-filtro {
  border-left: 2px solid #fff;
}
.nav-annos,
.nav-indicador {
  margin-top: 20px;
}
.nav-annos >li,
.nav-indicador >li {
  background-color: #cb6830;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-annos >li a,
.nav-indicador >li a {
  font-weight: bold;
  color: #fff;
}
.nav-annos >li a:hover,
.nav-indicador >li a:hover {
  background-color: rgba(0,0,0,0.2);
}
li[role='titulo']>a {
  font-weight: bold;
  color: #fff;
}
li[role='titulo']>a:hover {
  background-color: transparent;
}
.nav-indicador>li.active>a,
.nav-annos>li.active>a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
.contenido-graficos {
  padding-top: 20px;
}
.contenido-indicador {
  padding-top: 10px;
  margin-top: 10px;
  background-color: #fff;
}
.contenido-indicador table {
  margin-top: 7px;
}
.contenido-indicador table caption {
  text-align: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 15px;
  font-weight: bold;
}
.contenido-indicador table td {
  font-size: 14px;
  text-align: center;
}
.contenido-indicador table td:first-child {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}
.contenido-indicador table th {
  font-size: 15px;
}
.btn-export {
  color: #fff;
  background-color: #453021;
  padding: 10px;
  font-weight: bold;
}
.btn-export:hover,
.btn-export:focus {
  color: #fff;
  background-color: #6d4b35;
  text-decoration: none;
}
.bread-indicador {
  background-color: #6d4b35;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.bread-indicador .active {
  color: #c8c8c8;
  font-weight: bold;
  font-size: 14px;
}
.bread-indicador li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.bread-indicador>li+li:before {
  content: ">>";
  color: #fff;
  font-weight: bold;
}
.grafico-full {
  border: 3px solid #e7e6e4;
}
.tab-indicador {
  padding-top: 20px;
}
/**************************XS-Device************************************/
@media (max-width: 767px) {
  .ind-cacao,
  .ind-hombre,
  .ind-mujer,
  .informacion {
    margin-top: 15px;
  }
  .navbar,
  .navbar-header {
    min-height: 60px;
  }
  .navbar-default .navbar-nav>li>a {
    margin-right: 0px;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: #fff;
  }
  .navbar-nav {
    margin: 0px -15px;
  }
  .indicadores-t2,
  .grafico-right {
    margin-top: 20px;
  }
  .botonera a {
    width: 46%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .ind-familia p,
  .tablero-hombre p,
  .tablero-mujer p,
  .ind-org p {
    padding-top: 5px;
    font-size: 14px;
  }
  .ind-familia h2,
  .tablero-hombre h2,
  .tablero-mujer h2,
  .ind-org h2,
  .ind-familia h1,
  .tablero-hombre h1,
  .tablero-mujer h1,
  .ind-org h1 {
    font-size: 23px;
  }
  .tablero-familia,
  .tablero-genero {
    padding-right: 25px;
  }
  .titulo-inicio,
  .titulo-indicadores {
    margin-left: 5px;
  }
  .consulta-org {
    margin-bottom: 20px;
  }
  span.select2.select2-container.select2-container--default {
    width: 95% !important;
  }
}
.indicadores-btn {
  margin-top: 10px;
}
#mas {
  cursor: pointer;
}
/**************************SM-Device************************************/
@media (min-width: 768px) {
  .ind-cacao {
    padding-bottom: 6px;
    margin-top: 15px;
  }
  .ind-consulta {
    padding-bottom: 14px;
  }
  .informacion {
    margin-top: 20px;
  }
  .ind-hombre,
  .ind-produccion,
  .ind-consulta {
    margin-right: 5px;
    margin-left: 15px;
  }
  .ind-cacao p {
    font-size: 1.5em;
  }
  .text-cacao {
    font-size: 1em !important;
  }
  .promedio-cacao h2,
  .promedio-cultivo h2 {
    font-size: 20px;
  }
  .indicadores-t2,
  .grafico-right {
    margin-top: 20px;
  }
  .botonera a {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .consulta-org {
    margin-bottom: 20px;
  }
  span.select2.select2-container.select2-container--default {
    width: 95% !important;
  }
}
/**************************MD-Device************************************/
@media (min-width: 992px) {
  .ind-mujer p {
    font-size: 1.5em;
  }
  .ind-hombre p {
    font-size: 1.5em;
  }
  .ind-cacao p {
    font-size: 1.1em;
  }
  .text-cacao {
    font-size: 0.8em !important;
  }
  .ind-produccion p {
    font-size: 1.2em;
  }
  .ind-otro .text-orgind {
    font-size: 1em;
  }
  .logos img {
    width: 100%;
  }
  .logos .heiferimg img {
    width: 30% !important;
    margin-top: 30px;
  }
  .grafico-right,
  .indicadores-t2 {
    width: 49.5%;
    margin-left: 1%;
    margin-top: 0px;
  }
  .grafico-left {
    width: 49.5%;
  }
  .botonera a {
    width: 23%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .grafic {
    margin: 0 auto;
  }
}
/**************************LG-Device************************************/
@media (min-width: 1200px) {
  .ind-cacao,
  .ind-hombre,
  .ind-mujer,
  .informacion {
    margin-top: 0px;
  }
  .ind-hombre,
  .ind-produccion,
  .ind-consulta,
  .ind-mujer,
  .ind-cacao,
  .ind-otro {
    margin-right: 0px;
    margin-left: 0px;
  }
  .ind-cacao {
    margin-top: 0px;
  }
  .ind-consulta {
    padding-bottom: 10px;
  }
  .col-xs-offset-1,
  .col-sm-offset-1 {
    margin-left: 0px;
  }
  .logos .heiferimg img {
    width: 60% !important;
    margin-top: 0px;
  }
  .grafico-right,
  .indicadores-t2 {
    width: 49%;
    margin-left: 2%;
    margin-top: 0px;
  }
  .grafico-left {
    width: 49%;
  }
  .botonera a {
    width: 23%;
    margin-right: 1%;
  }
}
