naranja=#CB6830
cafe=#453021
blanco=#FFFFFF
cafeclaro=#6d4b35


body
	margin 0
	font-size 16px
	background url(../img/light_grey.png)
	font-family 'Roboto', sans-serif

/*!Mixins*/
redondeado()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
  
sombras()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-border-radius arguments
	box-shadow arguments


/***********Inicio de header***************/

   
.encabezado
	background naranja

.encabezado .row
	margin-right 0px !important

.encabezado h4
	color blanco
	margin-left 50px
	vertical-align middle
	margin-top 20px
	margin-bottom 20px


.btn-sesion
	margin-top 14px
	margin-bottom 20px

a.sesion
	padding-right 30px
	font-size 18px
	color blanco
	text-decoration none


/*Inicio de menu*/

.navbar-brand 
	margin-left 50px
	padding 12px 15px

.navbar-brand>img 
	width 120%


.navbar-default
	background-color cafe
	redondeado 0px
	border none

.nav>li 
	text-align center

.navbar-default .navbar-nav>li>a 
	color white
	padding 20px 30px
	margin-right 40px

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	color white 
	


.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover 
	color blanco
	font-weight bold
	background-color cafeclaro
	border-bottom 3px solid blanco



/***********Inicio de contenido***************/
.informacion
	sombras -5px 5px 10px 0px rgba(178,178,178,1)

.informacion h4
	margin 15px 15px


.franja
	background-color #FFD62C
	height 20px

.parrafo
	background-color white
	padding-bottom 20px
	


.parrafo p
	margin 15px 15px
	font-size 1em

.triangulo
	width 0
	height 0
	border-left 15px solid transparent
	border-right 15px solid transparent
	border-top 20px solid #FFD62C
	left 47px
	position relative
	top -5px


.btn-informacion a
	text-decoration none
	color cafe


.btn-informacion
	
	margin-right 15px

/************Indicadores y mapeo***************/
.consulta
	padding-left 30px
	
.ind-mujer
	background-color #DE4A4A
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-mujer p
	font-size 1.5em
	margin 0px 0px 0px !important


.ind-hombre
	background-color #305EEF
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-hombre p
	font-size 1.5em
	margin 0px 0px 0px !important

.ind-cacao
	background-color #04A586
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-cacao p
	font-size 1.5em
	margin 0px 0px 6px !important

.text-cacao
	font-size 1em !important

/*segunda fila de indicadores*/

.ind-produccion
	background-color cafe
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	margin-top 15px
	text-align center

.ind-produccion p
	font-size 1.5em
	margin 0px 0px 0px !important


.ind-produccion img
	height 125%


.ind-otro
	background-color #719025
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	margin-top 15px
	text-align center

.ind-otro p
	font-size 1.5em
	margin 0px 0px 0px !important


.ind-consulta
	background-color #FFA245
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	margin-top 15px
	text-align center

.ind-consulta p
	font-size 1.5em
	margin 0px 0px 0px !important


.mapeo
	margin-top 15px

.mapa-ni
	padding-left 0px !important
.logos
	margin-top 50px
.catie
	margin-left 10px
.heifer
	margin-left 25px	

.footer
	height 70px
	width 100%
	background-color cafe
	color white
	margin-top 30px
	



.footer a
	text-decoration none
	color white
	font-weight bold
	


.Copyright
	padding-top 30px
	padding-left 20px	

/**************Consulta*******************/


.formulario-consulta
	margin 15px auto 15px auto
	color white
	


.seleccion
	background-color cafe


.seleccion p
	margin 15px 10px 15px 30px


.seleccion .row
	margin-right 0px


.borde-filtro
	border-right 2px solid blanco


.datos-filtro p
	font-size 0.8em
	text-align left
	margin 5px 5px 5px 5px


.datos-filtro h5
	text-align center
	background-color cafeclaro
	padding-top 5px
	padding-bottom 5px


.ind-filtro
	padding-left 5px
	padding-right 5px

.filtros
	background-color  cafeclaro
	border-top 2px solid blanco


.filtros .row
	padding-top 50px
	padding-bottom 50px


.select-filtro
	padding-left 40px

.btn-filtro
	margin-top 50px
	padding 15px
	width 80%
	color white
	background-color naranja
	border none
	redondeado 0px
	font-size 1em



.btn-filtrohover
	background-color naranja
	font-weight bold
	color white


span.select2.select2-container.select2-container--default 
	width 80% !important



.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow 
	height 39px !important

.select2-container--default .select2-selection--single .select2-selection__rendered  
	line-height 35px !important


/******************dashboard*********************/
.contenido-graficos
	margin 0 auto
.datos-dashboard
	background-color #413A35
	margin-top -20px
	padding: 20px 30px 20px 30px;
.tablero-familia, .tablero-genero
	padding-right 50px
	
.ind-familia, .tablero-hombre, .tablero-mujer, .ind-org
	background-color cafe
	color white
	padding-top 10px
	padding-bottom 10px
	text-align center
	
	h1
		margin-top 8px
		margin-bottom 10px
		color naranja
	h2
		margin-top 12px
		margin-bottom 12px
		color naranja
	p
		margin 15px 0px 0px 30px

.tablero-hombre
	border-right 2px solid cafeclaro

.ind-org 
	p
		margin 15px 0px 0px 0px !important

/*! inicio de contenido tablero*/

.tablero-titulo, .indicadores-titulo
	background cafeclaro
	color blanco
	margin-top 60px
	margin-bottom 40px


.titulo-inicio, .titulo-indicadores
	margin-left 50px
	span
		margin-left 20px	
	&:before
		content ""
		position absolute
		left 0px
		top 0px
		height 39px
		width 20px
		background-color cafe
.promedio-cacao, .promedio-cultivo, .socio, .no-socio
	background-color blanco
	border 3px solid #e7e6e4
	padding 20px 20px 20px 60px
	h1, h2
		color naranja
		font-weight bold
		margin-bottom 5px
		margin-top 5px

.promedio-cultivo, .no-socio
	margin-top 33px
	
.no-socio, .socio
	padding-top 24px
	padding-bottom 24px
	
.texto-indicador
	margin-top 20px

#grafico3, #grafico4, #grafico5, #grafico1
	background-color blanco
	border 3px solid #e7e6e4

#grafico5
	margin-top 20px	

	/*mayor a 760*/
.indicadores-t1
	padding-right 0px
.indicadores-t2
	padding-left 0px
.grafico-4
	width 49%
	margin-left 1%
.grafico-3, #grafico1
	width 49%
	margin-right 1%

.fila1,.fila2,.fila3
	margin-top 20px
		
.botonera
	background-color #e7e6e4
	display none
	.row
		padding 10px
	a
		background-color #9ac15a
		color blanco
		redondeado 0px
		padding 10px
		width 23%
		margin-right 1%
		margin-left 1%
		margin-top 10px
		margin-bottom 10px
		sombras 5px 5px 0px -2px #88b84f
		font-size 1em
		
		&:hover
			font-weight bold
			color blanco
			background-color naranja
			sombras 5px 5px 0px -2px #d46325
		
		&:nth-child(4n+3), &:nth-child(4n+4)
			background-color #7cb4eb
			sombras 5px 5px 0px -2px #6ba7de
			&:hover
				background-color naranja
				sombras 5px 5px 0px -2px #d46325

/*! organizaciones*/ 
.org-detail
	margin 0 auto
.mapa-titulo
.consulta-org-titulo
	background-color blanco
	border 3px solid #e7e6e4
	text-align center

.mapa-organizaciones
.filtro-org-consulta
	background-color blanco
	border-right 3px solid #e7e6e4
	border-left 3px solid #e7e6e4
	border-bottom 3px solid #e7e6e4

.btn-org-consulta a
	redondeado 0px
	padding 15px
	font-weight bold
	color blanco
	background-color naranja
	text-decoration none
	
.filtro-org-consulta
	padding-top 20px
	.form-group
		margin-left 20px
		margin-top 36px
	.btn-org-consulta
		margin-bottom 35px
		margin-top 35px
		margin-left 10px
	
/**organizacion detail***/

.logo-org
	margin-top 60px
	margin-bottom 40px

.mapa-org
	background-color blanco
	border 3px solid #e7e6e4	

.informacion-org
	background-color blanco
	border-right 3px solid #e7e6e4
	border-top 3px solid #e7e6e4
	border-bottom 3px solid #e7e6e4
	height 244px
	span
		margin-bottom 5px
		margin-top 5px
		a
			color #333
			text-decoration none
	.fa:before
		color #717171
		margin-right 10px
.tabs-org
	padding-right 0px !important
	padding-left 0px !important
	background-color blanco
	border-right 3px solid #e7e6e4
	border-left 3px solid #e7e6e4
	border-bottom 3px solid #e7e6e4
	

li[role=presentation]
	width 100%
	a
		color #333
		

.nav-tabs>li
	border-bottom 3px solid #e7e6e4
	background-color blanco
	width 100%
	margin-left 0px
	
.nav-tabs>li.active
	border-left 3px solid #e7e6e4
	border-bottom 3px solid #e7e6e4
	border-right 0px
	background-color blanco
	position static
	width 102%
	margin-left -3px
	
	a,a:hover,a:focus
		background-color transparent !important
		color naranja !important
		border 0px

div[role=tabpanel]		
	background-color blanco
	border-right 3px solid #e7e6e4
	border-bottom 3px solid #e7e6e4
	width 100%
	padding 30px 20px

.conten-org
	padding-right 0
	padding-left 0

.table>tbody>tr
	border-top 2px solid #e7e6e4
	&:last-child
		border-bottom 2px solid #e7e6e4
	td
		border-right 2px solid #e7e6e4
		border-left 2px solid #e7e6e4

.datos-sueltos
	margin-bottom 30px
.dato-orgdetail
	background-color #efefef
	border 3px solid #e7e6e4
	padding 10px
	text-align center

#documentacion
#infra
#comercializacion
#prodructividad
	height 500px

	

@media (min-width 1200px)
	.formulario-consulta, .contenido-graficos
		width 90%
	
	.org-detail
		width 95%


/*.ui-widget 
  font-family 'Roboto',Tahoma,Verdana,Arial,sans-serif !important
  font-size 1em !important
*/