body
	margin 0
	font-size 16px
	background url(../img/light_grey.png)
	font-family 'Roboto', sans-serif

/***********Inicio de header***************/
.encabezado
	background #CB6830

.encabezado .row
	margin-right 0px !important

.encabezado h4
	color #FFFFFF
	margin-left 50px
	vertical-align middle
	margin-top 20px
	margin-bottom 20px


.btn-sesion
	margin-top 14px
	margin-bottom 20px

a.sesion
	padding-right 30px
	font-size 18px
	color #FFFFFF
	text-decoration none


/*Inicio de menu*/

.navbar-brand 
	margin-left 50px
	padding 12px 15px

.navbar-brand>img 
	width 120%


.navbar-default
	background-color #453021
	border-radius 0px
	border none

.nav>li 
	text-align center

.navbar-default .navbar-nav>li>a 
	color white
	padding 20px 30px
	margin-right 40px

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	color white 
	


.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover 
	color #FFFFFF
	font-weight bold
	background-color #604635
	border-bottom 3px solid #FFFFFF



/***********Inicio de contenido***************/
.informacion
	-webkit-box-shadow -5px 5px 10px 0px rgba(178,178,178,1)
	-moz-box-shadow -5px 5px 10px 0px rgba(178,178,178,1)
	box-shadow -5px 5px 10px 0px rgba(178,178,178,1)

.informacion h4
	margin 15px 15px


.franja
	background-color #FFD62C
	height 20px

.parrafo
	background-color white
	padding-bottom 20px
	


.parrafo p
	margin 15px 15px
	font-size 1em

.triangulo
	width 0
	height 0
	border-left 15px solid transparent
	border-right 15px solid transparent
	border-top 20px solid #FFD62C
	left 47px
	position relative
	top -5px


.btn-informacion a
	text-decoration none
	color #453021


.btn-informacion
	
	margin-right 15px

/************Indicadores y mapeo***************/
.ind-mujer
	background-color #DE4A4A
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-mujer p
	font-size 1.5em
	margin 0px 0px 0px !important


.ind-hombre
	background-color #305EEF
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-hombre p
	font-size 1.5em
	margin 0px 0px 0px !important

.ind-cacao
	background-color #04A586
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-cacao p
	font-size 1.5em
	margin 0px 0px 6px !important

.text-cacao
	font-size 1em !important

/*segunda fila de indicadores*/

.ind-produccion
	background-color #453021
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	margin-top 15px
	text-align center

.ind-produccion p
	font-size 1.5em
	margin 0px 0px 0px !important


.ind-produccion img
	height 125%


.ind-otro
	background-color #719025
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	margin-top 15px
	text-align center

.ind-otro p
	font-size 1.5em
	margin 0px 0px 0px !important


.ind-consulta
	background-color #FFA245
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	margin-top 15px
	text-align center

.ind-consulta p
	font-size 1.5em
	margin 0px 0px 0px !important


.mapeo
	margin-top 15px

.mapa-ni
	padding-left 0px !important


.footer
	height 70px
	width 100%
	background-color #453021
	color white
	margin-top 30px
	



.footer a
	text-decoration none
	color white
	font-weight bold
	


.Copyright
	padding-top 30px
	padding-left 20px	

/**************Consulta*******************/


.formulario-consulta
	margin 60px auto 0 auto
	color white
	


.seleccion
	background-color #453021


.seleccion p
	margin 15px 10px 15px 30px


.seleccion .row
	margin-right 0px


.borde-filtro
	border-right 2px solid #FFFFFF


.datos-filtro p
	font-size 0.8em
	text-align left
	margin 5px 5px 5px 5px


.datos-filtro h5
	text-align center
	background-color #604635
	padding-top 5px
	padding-bottom 5px


.ind-filtro
	padding-left 5px
	padding-right 5px

.filtros
	background-color  #6D4B35
	border-top 2px solid #FFFFFF


.filtros .row
	padding-top 50px
	padding-bottom 50px


.select-filtro
	padding-left 40px

.btn-filtro
	margin-top 50px
	padding 15px
	width 80%
	color white
	background-color #CB6830
	border none
	border-radius 0px
	font-size 1em



.btn-filtrohover
	background-color #CB6830
	font-weight bold
	color white


span.select2.select2-container.select2-container--default 
	width 80% !important



.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow 
	height 39px !important

.select2-container--default .select2-selection--single .select2-selection__rendered  
	line-height 35px !important


/******************dashboard*********************/
.datos-dashboard
	background-color #413A35
	margin-top -20px
	padding 20px


.ind-familia
	background-color #453021
	color white
	padding-top 10px
	padding-bottom 10px
	margin-right 20px
	text-align center

.ind-familia h1
	margin-top 8px
	margin-bottom 10px
	color #CB6830

.ind-familia p
	margin 15px 0px 0px 0px

.img-familia
	margin-top 7px
























@media (min-width 1200px)
	.formulario-consulta
		width 1170px
	




/*.ui-widget 
  font-family 'Roboto',Tahoma,Verdana,Arial,sans-serif !important
  font-size 1em !important
*/