{% extends "base.html" %}

{% block extra_js %}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>
<script>
$(function () {

    $(document).ready(function () {

        // Build the chart textura
        $('#container0').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'TEXTURA'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'textura del suelo',
                
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% for k,v in tabla_textura.items %}
           {
            name: '{{k}}',
            data: [{{v.por_textura}},]

        }, 
        {% endfor %}
       ]
    });

		
		  // Build the chart pendiente
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'PENDIENTE'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'pendiente del suelo',
                
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% for k,v in tabla_pendiente.items %}
           {
            name: '{{k}}',
            data: [{{v.por_pendiente}},]

        }, 
        {% endfor %}
       ]
    }); 

			  // Build the chart hojarascas
        $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'HOJARASCAS'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'hojarascas del suelo',
                
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% for k,v in tabla_hojarasca.items %}
           {
            name: '{{k}}',
            data: [{{v.por_horajasca}},]

        }, 
        {% endfor %}
       ]
    }); 
	
	// profunidad
     $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'PROFUNDIDAD'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'profundidad del suelo',
                
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% for k,v in tabla_profundidad.items %}
           {
            name: '{{k}}',
            data: [{{v.por_profundidad}},]

        }, 
        {% endfor %}
       ]
    });


	// Drenaje
     $('#container4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'DRENAJE'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'drenaje del suelo',
                
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% for k,v in tabla_drenaje.items %}
           {
            name: '{{k}}',
            data: [{{v.por_drenaje}},]

        }, 
        {% endfor %}
       ]
    });

    }); //document ready


}); // funcion anonima

</script>
{% endblock extra_js %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-lg-6">
	<div id="container0"></div>
	</div>
	<div class="col-md-6 col-lg-6">
		<table class="table table-striped table-hover">
			<caption>Textura</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			<tbody>
				{%for key, value in tabla_textura.items%}
	            <tr>
	                <td>{{key}}</td>
	                <td>{{value.textura|floatformat}}</td>
	                <td>{{value.por_textura|floatformat}}</td>
            	</tr>
                {%endfor%}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-lg-6">
	<div id="container1"></div>
	</div>
	<div class="col-md-6 col-lg-6">
		<table class="table table-striped table-hover">
			<caption>Pendiente</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			<tbody>
				{%for key, value in tabla_pendiente.items%}
	            <tr>
	                <td>{{key}}</td>
	                <td>{{value.pendiente|floatformat}}</td>
	                <td>{{value.por_pendiente|floatformat}}</td>
            	</tr>  
                {%endfor%}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-lg-6">
	<div id="container2"></div>
	</div>
	<div class="col-md-6 col-lg-6">
		<table class="table table-striped table-hover">
			<caption>Hojarascas</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			<tbody>
				{%for key, value in tabla_hojarasca.items%}
	            <tr>
	                <td>{{key}}</td>
	                <td>{{value.horajasca|floatformat}}</td>
	                <td>{{value.por_horajasca|floatformat}}</td>
            	</tr>  
                {%endfor%}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-lg-6">
		<div id="container3"></div>
	</div>
	<div class="col-md-6 col-lg-6">
		<table class="table table-striped table-hover">
			<caption>Profundidad del terreno</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			<tbody>
				{%for key, value in tabla_profundidad.items%}
	            <tr>
	                <td>{{key}}</td>
	                <td>{{value.profundidad|floatformat}}</td>
	                <td>{{value.por_profundidad|floatformat}}</td>
            	</tr>  
                {%endfor%}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-lg-6">
		<div id="container4"></div>
	</div>
	<div class="col-md-6 col-lg-6">
		<table class="table table-striped table-hover">
			<caption>Drenaje del suelo</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			<tbody>
				{%for key, value in tabla_drenaje.items%}
	            <tr>
	                <td>{{key}}</td>
	                <td>{{value.drenaje|floatformat}}</td>
	                <td>{{value.por_drenaje|floatformat}}</td>
            	</tr>  
                {%endfor%}
			</tbody>
		</table>
	</div>
</div>
{% include "monitoreo/indicadores.html" %}
{% endblock content %}