{% extends "base.html" %}
{% load humanize %}

{% block extra_js %}
	<script>
	    $(document).ready(function() {
        
        $('li.item-consulta').addClass('active');
    
    })
	    </script>
{% endblock extra_js %}

{% block content %}
<style>
	.table{
		width: 70%;
		margin: 0 auto
	}
	#distancia{
		background-color: #CB6830;
		text-align: center;
		padding: 10px 0 10px 0;
		color: white;
		border-radius: 15px
	}
	.btn-export {
  float: none;
  margin:0 auto;
  margin-top: 30px
}
</style>
<div class="col-md-4 col-lg-4">
		<h4 id="distancia">Distancia promedio recorrida para la comercialización: {{distancia|floatformat:2}} Km</h4>
	</div>
	<div class="col-md-2 col-lg-2">
		<a class="btn-export btn btn-default" href="#" onclick="exportarXLS('modalidad'); return false;">Exportar tabla</a>
	</div>
	<br><br>
	
	<div class="col-md-12 col-lg-12">
	<div id="modalidad">
		<table class="table">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Promedio Auto-consumo</th>
					<th>Promedio de venta</th>
					<th>Promedio precio de venta (C$)</th>
				</tr>
			</thead>
			<tbody>
				{% for fila in tabla_productos %}
	                <tr>
	                    {% for celda in fila %}
	                    <td>{{celda|intcomma}}</td>
	                    {% endfor %}
	                </tr>
                {%endfor%}
			</tbody>
		</table>
		</div>
	</div>
	

{% include "monitoreo/indicadores.html" %}
{% endblock content %}