{% load humanize %}
    <div class="datos-dashboard">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tablero-familia">
                <div class="ind-familia row">
                    <div class="col-lg-3  img-familia"><img src="/static/img/familia.png" alt=""></div>
                    <div class="col-lg-4"><h1>{{familias|intcomma}}</h1></div>
                    <div class="col-lg-5"><p>Productores</p></div>
                </div>
            </div>

             <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 tablero-genero">
                <div class="ind-genero row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row tablero-hombre">
                            <div class=" col-lg-3  img-genero"><img src="/static/img/hombre.png" alt=""></div>
                            <div class=" col-lg-4"><h2>{{hombres|floatformat:2|intcomma}}%</h2></div>
                            <div class=" col-lg-5"><p>Hombres</p></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 tablero-mujer">
                        <div class="row">
                            <div class=" col-lg-3  img-genero"><img src="/static/img/mujer.png" alt=""></div>
                            <div class=" col-lg-4"><h2>{{mujeres|floatformat:2|intcomma}}%</h2></div>
                            <div class=" col-lg-5"><p>Mujeres</p></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tablero-org">
                <div class="ind-org row">
                    <div class=" col-lg-3  img-org"><img src="/static/img/organizacion.png" alt=""></div>
                    <div class=" col-lg-3"><h1>{{organizaciones|intcomma}}</h1></div>
                    <div class=" col-lg-4"><p>Organizaciones</p></div>
                </div>
            </div>
        </div>
    </div>