{% extends "base.html" %}
{% load humanize %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        
        $('li.item-consulta').addClass('active');
        
    })
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Actividades en las que participa la mujer'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje (%)'
                }
            },
            xAxis: {
                categories: [
                'Actividades',
                
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%' ;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:1f} %',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    }
                }
            },
            series: [
            {% for k,v in genero.items %}
            {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
});


$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Mujeres que reciben ingresos por las actividades que realiza'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }
                
            },
            series: [{
                name: "Porcentaje",
                colorByPoint: true,
                data: [
                {% for key,value in dic.items %}
                {
                    name: "{{key}}",
                    y: {{value}}
                },
                {% endfor %}
                ]
            }]
        });
});
});

$(function () {
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Toma de decisión en la que participa la mujer'
        },
        yAxis: {
            title: {
                text: 'Valores'
            }

        },
        yAxis: {
            min: 0,
            title: {
                text: 'Porcentaje (%)'
            }
        },
        xAxis: {
            categories: [
            'Decisiones',
            
            ],
            crosshair: true
        },
        tooltip: {
            formatter: function() {
                return ''+
                this.series.name +': '+ this.y + '%' ;
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:1f} %',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
        {% for k,v in decisiones.items %}
        {name: '{{k}}', data: [{{v}}]},
        {% endfor %}
        ]
    });
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Usos domésticos de los ingresos percibidos por las mujeres por venta de cacao'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }
                
            },
            series: [{
                name: "Porcentaje",
                colorByPoint: true,
                data: [
                {% for key,value in domestico.items %}
                {
                    name: "{{key}}",
                    y: {{value}}
                },
                {% endfor %}
                ]
            }]
        });
});
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container4').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Usos agricolas de los ingresos percibidos por las mujeres por venta de cacao'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }
                
            },
            series: [{
                name: "Porcentaje",
                colorByPoint: true,
                data: [
                {% for key,value in agricola.items %}
                {
                    name: "{{key}}",
                    y: {{value}}
                },
                {% endfor %}
                ]
            }]
        });
});
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#otros_ingresos').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Otras fuentes de ingreso que percibe la familia'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }
                
            },
            series: [{
                name: "Porcentaje",
                colorByPoint: true,
                data: [
                {
                    name: "Ganadería",
                    y: {{ganaderia}}
                },
                {
                    name: "Granos básicos",
                    y: {{granos_basicos}}
                },
                {
                    name: "Cacao",
                    y: {{cacao}}
                },
                {
                    name: "Café",
                    y: {{cafe}}
                },
                {
                    name: "Madera",
                    y: {{madera}}
                },
                ]
            }]
        });
});
});
</script>
{% endblock extra_js %}

{% block tablero %}
{% include "monitoreo/datostablero.html" %}
{% endblock tablero %}

{% block content %}

<div class="row">
{% include "monitoreo/filtros.html" %}
</div>
{% include "monitoreo/indicadores.html" %}
<div class="container-fluid contenido-indicador">
    <div class="row">
        <ol class="breadcrumb bread-indicador">
            <li><a href="/dashboard/">Tablero Principal</a></li>
            <li class="active">Género</li>
        </ol>  
    </div>
    


    <div class="row fila1">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left" style="margin-bottom: 1em">
            <h4 id="ingreso">Promedio ingreso mensual C$ {{avg_ingresos|floatformat:2|intcomma}}</h4>
        </div>
    </div>
    <div class="row fila1">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="container3" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>

    <div class="row fila2">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container1" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="container2" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>
    <div class="row fila3">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container4" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
         <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="otros_ingresos" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>


</div> 



{% endblock content %}