<div class="indocadores-monitore">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 indicadores-btn" >
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 indicadores-titulo" id="mas">
              <h4 class=" titulo-indicadores" >Ver más indicadores 
                <span id="estado"><span class="fa fa-arrow-down"></span></span>   
              </h4> 
              
            </div>  
        </div>
    </div>
</div>
<div class="botonera">
    <div class="row">
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/dashboard/">Tablero de indicadores</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/educacion/">Nivel educativo</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/propiedad/">Tenencia de propiedad</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/uso-tierra/">Uso de tierra</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/reforestacion/">Reforestación</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/caracterizacion/">Caracterización terreno</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/riesgos/">Riesgos</a>
        <!--<a class="btn col-sm-6 col-md-3 col-lg-3" href="/mitigacion/">Mitigacion de riesgos</a> -->
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/organizacion-productiva/">Organización productiva</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/produccion/">Producción</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/certificacion/">Certificación</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/tecnicas/">Técnicas aplicadas</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/comercializacion/">Comercialización</a>
        <a class="btn col-sm-6 col-md-3 col-lg-3" href="/capacitaciones/">Capacitaciones</a>
        <a class="btn col-lg-3" href="/genero/">Género</a>
        <a class="btn col-lg-3" href="/ampliar-areas-cacao/">Ampliación áreas de cacao</a>
    </div>
</div>
<span class="ir-arriba fa fa-arrow-up"></span>
