<div class="indocadores-monitore">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 indicadores-btn" >
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 indicadores-titulo" id="mas">
              <h4 class=" titulo-indicadores" >Ver más indicadores 
                <span id="estado"><span class="fa fa-arrow-down"></span></span>   
              </h4> 
              
            </div>  
        </div>
    </div>
</div>

<span class="ir-arriba fa fa-arrow-up"></span>
<div class="botonera">
    <di class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/dashboard/">Tablero de indicadores</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/educacion/">Nivel educativo</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/propiedad/">Tenencia de propiedad</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/uso-tierra/">Uso de tierra</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/reforestacion/">Reforestación</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/caracterizacion/">Caracterización terreno</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/riesgos/">Riesgos</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/organizacion-productiva/">Organización productiva</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/produccion/">Producción</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/certificacion/">Certificación</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/tecnicas/">Técnicas aplicadas</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/comercializacion/">Comercialización</a>
        </div>
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out"  href="/capacitaciones/">Capacitaciones</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/genero/">Género</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <a class="btn boton hvr-rectangle-out" href="/ampliar-areas-cacao/">Ampliación áreas de cacao</a>
        </div>
    </di>
</div>