{% extends "base.html" %}

{% block extra_js %}
<!--<script src="/static/js/export-csv-highcharts.js"></script> -->
<script>
    $(document).ready(function() {
        
        $('li.item-consulta').addClass('active');
        
    })

$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tenencia de Propiedad'
        },
        // subtitle: {
        //     text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
        // },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> del total<br/>'
        },

        series: [{
            name: "Distribución",
            colorByPoint: true,
            data: [
            {
                name: "Dueños",
                y: {{dueno}},
                drilldown: "Dueños"
            }, {
                name: "No Dueños",
                y: {{no_dueno}},
                drilldown: "No Dueños"
            }
            ]
        }],
        drilldown: {
            series: [{
                name: "Dueños",
                id: "Dueños",
                data: [
                {% for x,y in dic.items %}
                ["{{x}}", {{y}}],
                {% endfor %}
                
                ]
            }, {
                name: "No Dueños",
                id: "No Dueños",
                data: [
                {% for x,y in dic2.items %}
                ["{{x}}", {{y}}],
                {% endfor %}
                
                ]
            }
            ]
        }
    });
});

</script>
{% endblock extra_js %}

{% block content %}
<div class="col-md-2 col-lg-2">
    <p>Nota: Dar click a las barras del gráfico para ver detalle</p>
</div>
<div class="col-md-10 col-lg-10">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
</div>
    
    {% include "monitoreo/indicadores.html" %}
{% endblock content %}