{% extends "base.html" %}

{% block extra_js %}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/data.js"></script>
<script src="/static/js/drilldown.js"></script>
<script>
    $(document).ready(function() {
        
        $('li.item-consulta').addClass('active');
        
    })

$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tenencia de Propiedad'
        },
        // subtitle: {
        //     text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
        // },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> del total<br/>'
        },

        series: [{
            name: "Distribución",
            colorByPoint: true,
            data: [
            {
                name: "Dueños",
                y: {{dueno}},
                drilldown: "Dueños"
            }, {
                name: "No Dueños",
                y: {{no_dueno}},
                drilldown: "No Dueños"
            }
            ]
        }],
        drilldown: {
            series: [{
                name: "Dueños",
                id: "Dueños",
                data: [
                {% for x,y in dic.items %}
                ["{{x}}", {{y}}],
                {% endfor %}
                
                ]
            }, {
                name: "No Dueños",
                id: "No Dueños",
                data: [
                {% for x,y in dic2.items %}
                ["{{x}}", {{y}}],
                {% endfor %}
                
                ]
            }
            ]
        }
    });
});

</script>
{% endblock extra_js %}

{% block content %}
    <div id="container" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
    {% include "monitoreo/indicadores.html" %}
{% endblock content %}