{% extends "base.html" %}

{% block extra_js %}
<!--<script src="/static/js/export-csv-highcharts.js"></script> -->
<script>
    $(document).ready(function() {
        
        $('li.item-consulta').addClass('active');
        
    })
$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Propiedad de la tierra'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.2f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }

            },
           
            series: [{
                name: "Procentajes",
                colorByPoint: true,
                data: [
                {
                    name: "Dueños",
                    y: {{dueno}},
                }, {
                    name: "No Dueños",
                    y: {{no_dueno}},
                }
                ]
            }]
        });
});
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '¿A nombre de quién está la propiedad?'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.2f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }

            },
           
            series: [{
                name: "Procentajes",
                colorByPoint: true,
                data: [
                 {% for x,y in dic.items %}
                {
                    name: "{{x}}",
                    y: {{y}},     
                }, 
                {% endfor %}
                ]
            }]
        });
});
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container3').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '¿Si no es propia, cuál es el origen de la tierra?'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.2f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }

            },
           
            series: [{
                name: "Procentajes",
                colorByPoint: true,
                data: [
                 {% for x,y in dic2.items %}
                {
                    name: "{{x}}",
                    y: {{y}},     
                }, 
                {% endfor %}
                ]
            }]
        });
});
});

</script>
{% endblock extra_js %}

{% block tablero %}
    {% include "monitoreo/datostablero.html" %}
{% endblock tablero %}

{% block content %}

{% include "monitoreo/filtros.html" %}
<style>
    .space{
        margin-bottom: 3em !important
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio">Indicador >> Tenencia de Propiedad</h4>  
        </div>
        <div class="col-xs-6 col-sm-6 col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio"><a href="/dashboard/">Regresar al tablero principal</a></h4>  
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-12 col-lg-6">
    <div class="space" id="container" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
</div>

<div class="col-md-12 col-lg-6">
    <div class="space" id="container2" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
</div>

<div class="col-md-12 col-lg-6">
    <div class="space" id="container3" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
</div>
</div>

    
    {% include "monitoreo/indicadores.html" %}
{% endblock content %}