{% extends "base.html" %}

{% block extra_js %}
<script>
    $(document).ready(function() {

        $('li.item-consulta').addClass('active');

    })
    $(function () {
        $('#grafico').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Efectos de fenómenos naturales'
            },
            xAxis: {
                categories: ['Sequia','Innundación','Lluvia','Viento','Desplazamiento']
            },
            yAxis: {
                title: {
                    text: 'Porcentajes(%)'
                }

            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [
            {% for key,value in riesgos.items %}
            {
              name: '{{key}}',
              data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}},{{value.4}}]
          },
          {% endfor %}

          ]
      });
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Plantas improductivas'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }

            },
            series: [{
                name: "Porcentajes",
                colorByPoint: true,
                data: [
                {% for key,value in plantas.items %}
                {
                   name: "{{key}}",
                   y: {{value}}
               },
               {% endfor %}
               ]
           }]
       });
});
});

$(function () {
    $('#plagas').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas en el cultivos de cacao'
        },
        xAxis: {
            categories: ['Plagas y enfermedades','Quemas']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
            formatter: function() {
                return ''+
                this.series.name +': '+ this.y +'%';
            }
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
        {% for key,value in plagas.items %}
        {
          name: '{{key}}',
          data: [{{value.0}},{{value.1}}]
      },
      {% endfor %}

      ]
  });
});

$(function () {
    $('#mercado').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas en la comercialización'
        },
        xAxis: {
            categories: ['Bajo precio','Bajo volumen','Estafa','Mala calidad']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
            formatter: function() {
                return ''+
                this.series.name +': '+ this.y +'%';
            }
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            column: { 
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.2f} %',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
        {% for key,value in mercados.items %}
        {
          name: '{{key}}',
          data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}}]
      },
      {% endfor %}

      ]
  });
});

$(function () {
    $('#inversion').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Porcentaje de productores que invierten o piensan invertir en sus plantaciones de cacao'
        },
        xAxis: {
            categories: ['Invierte en cacao','Interés de invertir']
        },
        //'Falta de crédito','Altos intereses','Robo de producto'
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
            formatter: function() {
                return ''+
                this.series.name +': '+ this.y +'%';
            }
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.2f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
        {% for key,value in inversion.items %}
        {
          name: '{{key}}',
          data: [{{value.0}},{{value.1}}]
      },
      {% endfor %}

      ]
  });
});

$(function () {
    $('#inversion2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Razones para no invertir'
        },
        xAxis: {
            categories: ['Falta de crédito','Altos intereses','Robo de producto']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
            formatter: function() {
                return ''+
                this.series.name +': '+ this.y +'%';
            }
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.2f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
        {% for key,value in inversion.items %}
        {
            name: '{{key}}',
            data: [{{value.2}},{{value.3}},{{value.4}}]
        },
        {% endfor %}
        
        ]
    });
});
</script>

<script type="text/javascript">
    $(function () {
        $('#mitigacion').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Mitigración de riesgos'
            },
            xAxis: {
                categories: ['Monitoreo de plagas','Plan de manejo de cultivo','Recurso financiero','Obras de almacenamiento de agua', 'Contrato de venta', 'Infraestructura de secado y almacenamiento']
            },
            yAxis: {
                title: {
                    text: 'Porcentajes(%)'
                }

            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y +'%';
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    }
                }
            },
            series: [
            {% for key,value in tabla_mitigacion.items %}
            {
                name: '{{key}}',
                data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}},{{value.4}},{{value.5}},{{value.6}}]
            },
            {% endfor %}

            ]
        });
});
</script>
{% endblock extra_js %}

{% block tablero %}
{% include "monitoreo/datostablero.html" %}
{% endblock tablero %}

{% block content %}

<style>
    .nav-tabs>li {
        width: 30% !important
    }
</style>
{% include "monitoreo/filtros.html" %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio">Indicador >> Riesgos en la finca</h4>  
      </div>
      <div class="col-xs-6 col-sm-6 col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio"><a href="/dashboard/">Regresar al tablero principal</a></h4>  
      </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Vulnerabilidad de la Finca</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mitigación de Riesgos</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="grafico" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
            </div>

            <div class="col-md-12 col-lg-12">
                <div class="col-md-12 col-lg-6">
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> 
                </div>
                <div class="col-md-12 col-lg-6">
                    <div id="plagas" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div id="mercado" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div id="inversion" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div> 
            </div>
            <div class="col-md-12 col-lg-6">
                <div id="inversion2" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div> 
            </div>
        </div>   
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div id="mitigacion" style="min-width: 310px; height: 400px; width: 900px; margin: 0 auto"></div>
    </div>
</div>


{% include "monitoreo/indicadores.html" %}
{% endblock content %}