{% extends "base.html" %}

{% block extra_js %}
	<script src="/static/js/highcharts.js"></script>
	<script src="/static/js/exporting.js"></script>
	<script>
        $(document).ready(function() {
        
        $('li.item-consulta').addClass('active');
    
    })
		$(function () {
    $('#grafico').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Fenomenos naturales'
        },
        xAxis: {
            categories: ['Sequia','Innundación','Lluvia','Viento','Desplazamiento']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        credits: {
            enabled: false
        },
        series: [
        	{% for key,value in riesgos.items %}
        		{
            		name: '{{key}}',
            		data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}},{{value.4}}]
        		},
        	{% endfor %}
        
        ]
    });
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Plantas improductivas'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: "Porcentajes",
                colorByPoint: true,
                data: [
                {% for key,value in plantas.items %}
                	{
	                    name: "{{key}}",
	                    y: {{value}}
                	},
                {% endfor %}
                ]
            }]
        });
    });
});

$(function () {
    $('#plagas').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Otras Razones Agricolas'
        },
        xAxis: {
            categories: ['Plagas y enfermedades','Quemas']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        credits: {
            enabled: false
        },
        series: [
        	{% for key,value in plagas.items %}
        		{
            		name: '{{key}}',
            		data: [{{value.0}},{{value.1}}]
        		},
        	{% endfor %}
        
        ]
    });
});

$(function () {
    $('#mercado').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Razones de mercado'
        },
        xAxis: {
            categories: ['Bajo precio','Falta de venta','Estafa de contrato','Calidad del producto']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        credits: {
            enabled: false
        },
        series: [
        	{% for key,value in mercados.items %}
        		{
            		name: '{{key}}',
            		data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}}]
        		},
        	{% endfor %}
        
        ]
    });
});

$(function () {
    $('#inversion').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Inversiones'
        },
        xAxis: {
            categories: ['Invierte en cacao','Interés de invertir','Falta de crédito','Altos intereses','Robo de producto']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        credits: {
            enabled: false
        },
        series: [
        	{% for key,value in inversion.items %}
        		{
            		name: '{{key}}',
            		data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}},{{value.4}}]
        		},
        	{% endfor %}
        
        ]
    });
});
</script>

<script type="text/javascript">
    $(function () {
    $('#mitigacion').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Mitigración de riesgos'
        },
        xAxis: {
            categories: ['Monitoreo plagas','Manejo de plagas','Manejo de recursos','Almacenamiento de agua','Distribución cacao', 'Venta de cacao', 'Tecnología de secado']
        },
        yAxis: {
            title: {
                text: 'Porcentajes(%)'
            }

        },
        tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        credits: {
            enabled: false
        },
        series: [
            {% for key,value in tabla_mitigacion.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}},{{value.1}},{{value.2}},{{value.3}},{{value.4}},{{value.5}},{{value.6}}]
                },
            {% endfor %}

        ]
    });
});
</script>
{% endblock extra_js %}

{% block content %}

	<!-- <div class="col-md-12 col-lg-12">
		<div id="grafico" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
	</div>

	<div class="col-md-12 col-lg-12">
		<h3 align="center">Razones Agricolas</h3>
		<div  class="col-md-12 col-lg-6" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<div  class="col-md-12 col-lg-6" id="plagas" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>

	<div class="col-md-12 col-lg-12">
		<br>
		<div id="mercado" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div>
	</div>

	<div class="col-md-12 col-lg-12">
	<br>
		<div id="inversion" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div>
	</div> -->
    
    
<style>
    .nav-tabs>li {
        width: 30% !important
    }
</style>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Vulnerabilidad de la Finca</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mitigación de Riesgos</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div id="grafico" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
        <h3 align="center">Razones Agricolas</h3>
        <div  class="col-md-12 col-lg-6" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div  class="col-md-12 col-lg-6" id="plagas" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="mercado" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div>
        <div id="inversion" style="min-width: 310px; height: 400px;max-width: 900px; margin: 0 auto"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div id="mitigacion" style="min-width: 310px; height: 400px; width: 900px; margin: 0 auto"></div>
    </div>
  </div>


	{% include "monitoreo/indicadores.html" %}
{% endblock content %}