{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript">

   $(function () {
        $('#container0').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Técnicas aplicadas'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Técnicas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in viveros.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

    $(function () {
        $('#container1').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tipos de fertilizantes usados'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Tipos',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in fertilizacion.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_manejo_fis.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

   $(function () {
        $('#container3').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo de tejido'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_manejo_prod.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });


  $(function () {
        $('#container4').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de mejoramiento productivo'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_mejora_plat.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

 $(function () {
        $('#container5').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo post cosecha'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_manejo_post_c.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });
</script>
{% endblock extra_js %}

{% block tablero %}
    {% include "monitoreo/datostablero.html" %}
{% endblock tablero %}

{% block content %}

{% include "monitoreo/filtros.html" %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio">Indicador >> Técnicas aplicadas</h4>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio"><a href="/dashboard/">Regresar al tablero principal</a></h4>  
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-6">
        <div id="container0" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div id="container1" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div id="container2" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div id="container3" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div id="container4" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div id="container5" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>
</div>
{% include "monitoreo/indicadores.html" %}
{% endblock content %}
