{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript">

   $(function () {
        $('#container0').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Técnicas aplicadas'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Técnicas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in viveros.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

    $(function () {
        $('#container1').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tipos de fertilizantes usados'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Tipos',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in fertilizacion.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_manejo_fis.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

   $(function () {
        $('#container3').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo de tejido'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_manejo_prod.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });


  $(function () {
        $('#container4').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de mejoramiento productivo'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_mejora_plat.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

 $(function () {
        $('#container5').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo post cosecha'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
                xAxis: {
                categories: [
                    'Prácticas',
                    
                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y ;
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in pract_manejo_post_c.items %}
                {name: '{{k}}', data: [{{v}}]},
            {% endfor %}
            ]
        });
    });

$(function () {

        $(document).ready(function () {

        // Build the chart
        $('#container6').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '¿Dispone de un centro de acopio de cacao en la comunidad o municipio donde vende su cacao?'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.2f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }

            },
            series: [{
                name: "Porcentajes",
                colorByPoint: true,
                data: [
                {% for x,y in centro_acopio.items %}
                {
                    name: "{{x}}",
                    y: {{y}}
                },
                {% endfor %}
                

                ]
            }]
        });
});
});

$(function () {

        $(document).ready(function () {

        // Build the chart
        $('#container7').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '¿Es socio o está asociado a alguna organización que acopia cacao en la zona?'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.2f}%',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }

            },
            series: [{
                name: "Porcentajes",
                colorByPoint: true,
                data: [
                {% for x,y in socio_acopio.items %}
                {
                    name: "{{x}}",
                    y: {{y}}
                },
                {% endfor %}
                

                ]
            }]
        });
});
});
</script>
{% endblock extra_js %}

{% block tablero %}
    {% include "monitoreo/datostablero.html" %}
{% endblock tablero %}

{% block content %}
<div class="row">
{% include "monitoreo/filtros.html" %}
</div>
{% include "monitoreo/indicadores.html" %}

<div class="container-fluid contenido-indicador">
    <div class="row">
        <ol class="breadcrumb bread-indicador">
            <li><a href="/dashboard/">Tablero Principal</a></li>
            <li class="active">Técnicas aplicadas</li>
        </ol>  
    </div>
    


    <div class="row fila1">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container0" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="container1" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>

    <div class="row fila2">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container2" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="container3" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>
    <div class="row fila3">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container4" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="container5" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>
    <div class="row fila4">
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-left">
            <div class="col-md-6" id="container6" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grafico-right">
            <div class="col-md-6" id="container7" style="min-width: 310px;  width: 100%; margin: 0 auto;"></div>
        </div>
    </div>

</div>   


{% endblock content %}
