{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#certificados').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Número de productores certificados'
        },
        
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
        },

        series: [{
            name: "Frecuencia",
            colorByPoint: true,
            data: [
            {
                name: "Certificado",
                y: {{certificados}},
            }, {
                name: "No certificado",
                y: {{no_certificados}},
            }
            ]
        }],
    });
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Tipos de certificación'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.2f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            textShadow: '0 0 3px white'
                        }
                    },
                    showInLegend: true
                }
               
            },
            // legend: {
            //     layout: 'vertical',
            //     align: 'right',
            //     verticalAlign: 'middle',
            //     borderWidth: 0
            // },
            series: [{
                name: "Procentajes",
                colorByPoint: true,
                data: [
                {% for k,v in tabla_certificacion.items %}
                {
                    name: "{{k}}",
                    y: {{v}} {% if forloop.counter == 1 %},
                    sliced: true,
                    selected: true
                    {% endif %}
                },
            {% endfor %}
                
                ]
            }]
        });
    });
});  
</script>
{% endblock extra_js %}

{% block tablero %}
    {% include "monitoreo/datostablero.html" %}
{% endblock tablero %}

{% block content %}

{% include "monitoreo/filtros.html" %}
<style>
    .space{
        margin-bottom: 3em;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio">Indicador >> Certificaciones</h4>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3 tablero-titulo">
          <h4 class="titulo-inicio"><a href="/dashboard/">Regresar al tablero principal</a></h4>  
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 space">
        <div id="certificados" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>
    <div class="col-md-12 col-lg-12 space">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
    </div>
</div>
{% include "monitoreo/indicadores.html" %}
{% endblock content %}
